body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: right;
  margin: 20px;
}

h3 {
  text-align: right;
  margin: 20px;
}

#pic {
  border: 2px solid #000000;
  float: right;
}

.nobullets {
  list-style-type: none;
}
