body {
  font-family: 'Lato', sans-serif;
  border-style: hidden;
  padding: 40px;
  background-color: #fff8b0;
}

h1 {
  text-align: center;
  margin: 20px;
  border-style: hidden;
}

h3 {
  text-align: center;
  margin: 20px;
  border-style: hidden;
}

#pic {
  border: 2px solid #000000;
  float: right;
}

.results{
  float: right;
}

.auditionlist {
  border-style: hidden;
  
}

.nobullets {
  list-style-type: none;
}
